<!doctype html>
<html lang="{{ site.Language.Lang }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ i18n "site_browser_title" }}</title>
    <meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{ site.Params.description }}{{ end }}">
    <link rel="canonical" href="{{ .Permalink }}">
    <link rel="icon" type="image/svg+xml" href="{{ "logo.svg" | relURL }}">
    <link rel="shortcut icon" href="{{ "logo.svg" | relURL }}">
    <link rel="alternate" hreflang="{{ site.Language.Lang }}" href="{{ .Permalink }}">
    {{ range .AllTranslations }}
      <link rel="alternate" hreflang="{{ .Language.Lang }}" href="{{ .Permalink }}">
    {{ end }}
    <link rel="stylesheet" href="/css/site.css">
  </head>
  <body>
    {{ block "main" . }}{{ end }}
  </body>
</html>
