{{ define "main" }}
{{ $home := site.Data.home.en }}
<header class="topbar">
  <div class="container topbar-inner">
    <a class="brand" href="/">{{ site.Title }}</a>
    <nav aria-label="Primary">
      <ul class="menu">
        {{ range site.Menus.main }}
          <li><a href="{{ .URL }}">{{ .Name }}</a></li>
        {{ end }}
      </ul>
    </nav>
  </div>
</header>

<main>
  {{ partial "home/hero.html" $home }}
  {{ partial "home/capabilities.html" $home }}
  {{ partial "home/machines.html" $home }}
  {{ partial "home/work.html" $home }}
  {{ partial "home/why-us.html" $home }}
  {{ partial "home/contact.html" $home }}
</main>
{{ end }}
